<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <div class="container mt-2">
            <h3>Practice Express JS with EJS</h3>
            <p>-Configuration template engine EJS in Express.Js</p>
            <p>-Interpolation syntax EJS</p>
            <p>-Passing data to template</p>
            <p>-Layouting with EJS</p>
            <p>-Utilizing static folder for bootstrap</p>
        </div>
        <%- include('partials/footer') %>