<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <h1>Home Page</h1>
        <h3>
            <%= 10 + 5 %>
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil deserunt quae dolorem, eius dignissimos
            eligendi inventore vero, sint magni culpa est tempore magnam repudiandae, reprehenderit ad id mollitia omnis
            quia?</p>
        <%- include('partials/footer') %>